extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/signup")
    button(type="button") Sign Up
  br
  a(href="login")
    button(type="button") Log In
  br
  a(href="greetings")
    button(type="button") Greetings
